
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 420;
  line-height: 1.6;
  color: white;
  text-align: left;
  box-sizing: border-box;
}
