<div class="description">
  <h2>Vos vacances méritent <br />d'être inoubliables</h2>
  <p>
    Les plus belles maisons à louer, des services exceptionnels et des
    expériences mémorables
  </p>
  <div class="search-bar">
    <input class="search-input"
      placeholder="Où souhaitez-vous partir ?"
      value=""
    />
    <button class="btn search-button">
      <span>Rechercher</span>
    </button>
  </div>

  <a class="request-link" href="#"> <span class="span-link">Vous ne savez pas où partir ?</span> </a>

  <div class="arrows"></div>
</div>
